<%= form_for(@coursesubject) do |f| %>
  <% if @coursesubject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coursesubject.errors.count, "error") %> prohibited this coursesubject from being saved:</h2>

      <ul>
      <% @coursesubject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
